@use '@angular/material' as mat;

@include mat.core();

$isofront-end-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$isofront-end-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$isofront-end-warn: mat.m2-define-palette(mat.$m2-red-palette);

$isofront-end-theme: mat.m2-define-light-theme((
  color: (
    primary: $isofront-end-primary,
    accent: $isofront-end-accent,
    warn: $isofront-end-warn,
  )
));

@include mat.all-component-themes($isofront-end-theme);
